<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{site.title}}{{#if title}}: {{title}}{{/if}}</title>
        {{#if description}}<meta name="description" content="{{description}}" />{{/if}}
        {{#if keywords}}<meta name="keywords" content="{{#each keywords}}{{this}}{{#unless @last}},{{/unless}}{{/each}}" />{{/if}}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="{{rootPath}}css/style.css" />
        <link rel="alternate" type="application/rss+xml" href="{{rootPath}}feed.xml" />
    </head>
    <body>
        <main>
            <header>
                <h1><a href="{{#if rootPath}}{{rootPath}}{{else}}.{{/if}}">{{site.title}}</a></h1>
                <p>{{site.description}}</p>
                {{#if navigationPartialName}}{{> (lookup . "navigationPartialName") }}{{/if}}
            </header>
{{> @partial-block }}
        </main>
    </body>
</html>
