{{#> basePartial}}
<article>
    <header>
        <h1><a href=".">{{title}}</a></h1>
        {{> datePartial}}
    </header>
{{{contents}}}
<footer>
    <p>More articles about topic: <a href="{{rootPath}}posts/{{category}}">{{category}}</a></p>
</footer>
</article>
{{/basePartial}}
