<nav>
    <ul>
        {{#each categories}}
        {{#if (and (lookup .. "isCategoryIndex") (equal this (lookup .. "category")))}}
        <li>{{this}}</li>
        {{else}}
        <li><a href="{{../rootPath}}posts/{{this}}">{{this}}</a></li>
        {{/if}}
        {{/each}}
        {{#if incomplete}}
        <li><a href="{{rootPath}}archive.html">...</a></li>
        {{/if}}
    </ul>
</nav>